/*Start Global Rules*/
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}

/*Media Queries*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/*End Global Rules*/
